@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600;700&display=swap");

h1,
h2,
h3 {
  font-family: "Josefin Sans", sans-serif;
}

.sub-container {
  display: flex;
  flex-direction: column;
}
